{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>PolluTrack</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="map"></div>

        <!-- MENU BUTTON -->
        <div class="box">
            <a href="#" class="btn-flat btn-large show-list button-collapse" data-activates="list-slide">
                <i class="material-icons no-margin">menu</i>
            </a>
        </div>

        <!-- TEMPLATE FOR LIST -->
        <div id="list-slide" class="side-menu z-depth-3 side-nav fixed">
            <div class="close">
                <a class="no-padding close-list" href="#" data-activates="list-slide">
                    <i class="material-icons no-margin">close</i>
                </a>
            </div>
            <div class="logo"></div>
            <ul class="collection pollution-list">
                {% include 'mustache/pollution_list.mst' %}
            </ul>
            <div class="footer"></div>
        </div>

        <!-- TEMPLATE FOR DETAIL -->
        <div id="detail-slide" class="side-nav">
            {% include 'mustache/pollution_detail.mst' %}
        </div>
        <a href="#" data-activates="detail-slide" class="show-detail hidden"></a>

        <!-- ADD BUTTON -->
        {% if user.is_authenticated %}
            <div class="circle red add-button">
                <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons no-margin">add</i></a>
            </div>
            {% include 'pollutrack/create_pollution.html' %}
        {% endif %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQqjDYm9kO9NJLapj7URhEb4HvZW07WUI&callback=initMap">
        </script>
        <script type="text/javascript" src="{% static 'js/mustache.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
