body {
    margin: 0px;
    color: #333;
}

li {
    list-style: none;
}

#map {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#sidenav-overlay {
    display: none;
}

#images-modal {
    padding: 0px;
    max-height: none;
    background-color: transparent;
    box-shadow: none;
}

.logo {
    background-image: url('../images/pollutrack.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
}

.address {
    font-size: 18px;
    font-weight: bold;
    width: 240px;
}

.italic {
    font-size: 12px;
    font-style: italic;
    width: 240px;
}

.side-menu {
    z-index: 2;
    width: 320px;
    background: #fff;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.side-menu .marker a {
    margin: 0px;
    padding: 0px;
}

.side-menu .marker a:hover {
    background: none;
}

.side-menu .marker i {
    color: #DD2C00;
}

.over {
    z-index: 2;
    position: fixed;
}

.drag-target {
    display: none;
}

.detail-image {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: zoom-in;
}

.banner {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.details {
    position: relative;
    margin: 5px;
}

.marker {
    position: absolute;
    top: 5px;
    right: 0px;
}

.material-icons {
    width: 24px;
    margin: 0px 10px;
}

.with-icon span {
    vertical-align: 4px;
}

/*.with-icon i.person {
    color: #2962FF;
}

.with-icon i.location {
    color: #DD2C00;
}

.with-icon i.date {
    color: #7E57C2;
}

.with-icon i.thumb {
    color: #EC407A;
}*/

.pollution-list {
    margin: 0px;
    padding: 7px;
    border: none;
}

.pollution-list .collection-item {
    padding: 0px;
    cursor: pointer;
    margin-bottom: 8px;
}

.pollution-list .collection-item:hover {
    background-color: #eee;
}

.add-button {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 30px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.footer {
    height: 100px;
}

.box {
    position: relative;
    z-index: 2;
}

.box a {
    color: #333;
}

.close, .close2 {
    position: absolute;
    right: 10px;
}

.close2 {
    top: 10px;
}

.close2 a {
    height: 24px;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.8)
}

.close2 a:hover {
    background-color: rgba(255, 255, 255, 0.9)
}

@media (min-width: 993px) {
    .close {
        display: none;
    }
}


.uploaded-images img {
    display: inline-block;
    max-width: 200px;
    height: 200px;
}